*{
	padding: 0;
	margin: 0;
	font-family: Roboto, Times, serif;

}

h1,p{
	text-align: center;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,0);
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;

}

li a:hover {
	color: cyan;

}

img {
	border-radius: 100%;
	display: block;
	margin: auto;
	box-shadow: 2px 3px 4px 4px black;
}

.strokes{
	text-shadow: 2px 2px 0 black;
}
